<div class="landing">
  <div class="dark-overlay">
    <div class="landing-inner">
      <h1 class="x-large">Badge</h1>
      <p class="lead">Learn to pass your exams with our help</p>
      <div>
        <a class="btn btn-primary mr-1" [routerLink]="['/register']"
          >Register</a
        >
        <a class="btn btn-secondary" [routerLink]="['/login']">Login</a>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Some Feature</h3>
          <p>Info about the feature</p>
        </div>
        <div class="col-md-4">
          <h3>Another Feature</h3>
          <p>Info about the feature</p>
        </div>
        <div class="col-md-4">
          <h3>Final Feature</h3>
          <p>Info about the feature</p>
        </div>
      </div>
    </div>
  </div>
</div>
